.wide-as-needed {
	overflow: scroll;
	white-space: nowrap;
	height: 140px;
}

.scroll { 
	min-width: 100%;
}

.featured-item {
	display:inline-block;
	width: 150px;
	margin: 7px 7px 0px 7px;
	height: 90px;
}

.list-item {
	display:inline-block;
	width: 100px;
	margin: 7px 7px 0px 3px;
	height: 70px;
	padding:2px;
	color:white;
}

.aligned-center {
	text-align: center;
}

.light {
	color:white;
}

.dark {
	background-color: #222;
}

.white {
	background-color: white;
}

.ticket-section {
  background-color: #333;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 0px 5px 15px;
}

.title {
	font-size: 18px;
	color: darkslateblue;
	font-weight: bold;
	margin-bottom: 5px;
}

.text {
	font-size: 14px;
	color: #444;
}

.item {
	border-color: #333;
}

.item-complex .item-content {
	background:#f3f3f3;
}

.separator {
	margin:20px;
}

.clear-search {
  font-size: 18px;
}

.hidden-overflow {
	overflow: hidden;
}

.fixedrow {
}

#logo a img {
    display:block;
    margin:auto;
}