<ion-view title="Cityhook" ng-controller="RouteDetailController"  class="dark">

<ion-content class="info-light" scrollbar-y="yes">

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>



<div class="list card">

  <div class="item header dark-header">
    <h2 class="aligned-center light">Select a Route</h2>
  </div>

<ion-list>
  <ion-item ng-repeat="transport in transports" href="#/cityhook/purchase/{{$index}}">
    <h2 >{{transport.name}}</h2>
    <h5 >by {{transport.by}}</h5>
    <div class="row">
      <div class="col-33">
        <a>{{transport.price}}€</a>
        <h5 class="red-txt">Per passenger one-way</h5>
      </div>
      <div class="col-33">
        <a>{{transport.time}}</a>
        <h5 class="red-txt">Journey time</h5>
      </div>
      <div class="col-33">
        <img src="img/mobile.png" style="width:25px; height:25px;">
        <h5 class="red-txt">Mobile<br>ticketing</h5>
      </div>
    </div>
  </ion-item>
</ion-list>

</div>



</ion-content> 


</ion-view>