<ion-view title="Cityhook" ng-controller="WelcomeController" class="dark">

<ion-content scroll="false">
      <map on-create="mapCreated(map)"></map>
    </ion-content>
<!-- <ion-content class="info" scrollbar-y="yes">


 <div class="row responsive-sm">

    <div class="col map" id="map" style="height:250px;" data-tap-disabled="true"></div>

    <div class="col info" style="margin-left:15px;">
      <div>
        <div id="logo" class="row" style="background-color:transparent !important; margin-left:30px; width:350px; height:100px;">
          <img src="img/cityhook.png"></img>
        </div>
        <div class="row">

          <div class="col-33">
            <div style="overflow:hidden;">
            <input style="height:20px; width:30px; padding:10px;" type="radio" ng-model="step.route" value="red">
            <img style="width:80%;" src="img/separator.png"/>
            </div>
            <h5 class="light">SELECT ROUTES</h5>
          </div>
          
          <div class="col-33">
            <div style="overflow:hidden;">
            <input style="height:20px; width:30px;" type="radio" ng-model="step.payment" value="red">
            <img style="width:80%;" src="img/separator.png"/>
            </div>
            <h5 class="light">PAYMENT</h5>
          </div>

          <div class="col-33">
            <div style="overflow:hidden;">
            <input style="height:20px; width:30px;" type="radio" ng-model="step.ticketing" value="red">
            </div>
            <h5 class="light">TICKETING</h5>
          </div>

        </div>
      </div>

      <h4 class="light">Quick selection:</h4>
      <div>
        <img src="img/location_white.png" style="height:20px;"></img><strong style="margin:10px; padding:10px;" class="light">Departing London Heathrow 10:30 a.m</strong>
      </div>

      <div style="margin: 20px 10px 5px 10px;">
        <div class="row" style="width:100%; height: 80px; background:white;">
          <div class="col-15 overflow:hidden;">
            <img src="img/shuttle_premium.jpg" style="height:70px; width:70px; overflow:hidden;"></img>
          </div>
          <div class="col-66" style="padding-left:10px;">
            <h5>Premium Shuttle <small>by Concierge Companion</small></h5>
            <h5 style="margin-top:10px;">80€ Per Person - 45 min.<br>Mobile Ticketing</h5>
          </div>
        </div>
      </div>

      <div style="margin: 20px 10px 5px 10px;">
        <div class="row" style="width:100%; height: 80px; background:white;">
          <div class="col-15 overflow:hidden;">
            <img src="img/shuttle_standard.jpg" style="height:70px; width:70px; overflow:hidden;"></img>
          </div>
          <div class="col-66" style="padding-left:10px;">
            <h5>Standard Shuttle <small>by Silver Shuttle</small></h5>
            <h5 style="margin-top:10px;">45€ Per Person - 55 min.<br>Mobile Ticketing</h5>
          </div>
        </div>
      </div>

      <div style="margin: 20px 10px 5px 10px;">
        <div class="row" style="width:100%; height: 80px; background:white;">
          <div class="col-15 overflow:hidden;">
            <img src="img/heathrow_express.jpg" style="height:70px; width:70px; overflow:hidden;"></img>
          </div>
          <div class="col-66" style="padding-left:10px;">
            <h5>Heathrow Express <small>by London Trains</small></h5>
            <h5 style="margin-top:10px;">75€ Per Person - 25 min.<br>Mobile Ticketing</h5>
          </div>
        </div>
      </div>

      <div style="margin: 20px 10px 5px 10px;">
       <button style="width:100%; height:40px;" >Custom Journey</button>
  
      </div>

      <div style="margin: 20px 10px 5px 10px;">
        <div style="width:80%;" class="aligned-center light">
         <a style="width:100% margin-left:-50px;">Book on board your flight and skip the queue on arrival.<br>Guaranteed service</a>
        </div>
      </div>

    </div>

  </div>


</ion-content> -->

</ion-view>