<ion-view title="Cityhook" ng-controller="WelcomeController" ng-init="initialize()" class="dark">

<ion-content class="info" scrollbar-y="yes">

<div class="row responsive-sm">

  <div class="col">

    <div class="button-bar" style="position:relative; z-index:10;">
    <a class="btn button" ng-model="currentSelection.name" ng-click="openPopover($event)"><strong>{{currentSelection.name || 'Search'}}</strong><i style="margin-left:10px; width:15px; height:15px;"class="icon ion-search"></i></a>
    <a class="btn button" pick-a-time="start"><strong>Depart</strong><i style="margin-left:10px; width:15px; height:15px;"class="icon ion-chevron-down"></i></a>
    <a class="btn button" pick-a-time="end"><strong>Return</strong><i style="margin-left:10px; width:15px; height:15px;"class="icon ion-chevron-down"></i></a>
  </div>

  <div class="map" id="map" style="height:250px; !important; position:relative; float:left; z-index:1;" data-tap-disabled="true">

    <section>
      <div><button>button</button>
      </div>
      <h1>some long long long long header, a whole line, 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6</h1>
    </section>

  </div>
</div>

<div class="col info" style="margin-left:15px;">
  <div>

    <div id="logo" class="row" style="background-color:transparent !important; margin-left:30px; width:350px; height:100px;">
      <img src="img/cityhook.png"></img>
    </div>

    <div class="row">

      <div class="col-33">
        <div style="overflow:hidden;">
          <input style="height:20px; width:30px; padding:10px;" type="radio" ng-model="step.route" value="red">
          <img style="width:80%;" src="img/separator.png"/>
        </div>
        <h5 class="light">SELECT ROUTES</h5>
      </div>

      <div class="col-33">
        <div style="overflow:hidden;">
          <input style="height:20px; width:30px;" type="radio" ng-model="step.payment" value="red">
          <img style="width:80%;" src="img/separator.png"/>
        </div>
        <h5 class="light">PAYMENT</h5>
      </div>

      <div class="col-33">
        <div style="overflow:hidden;">
          <input style="height:20px; width:30px;" type="radio" ng-model="step.ticketing" value="red">
        </div>
        <h5 class="light">TICKETING</h5>
      </div>

    </div>
  </div>


  <!-- MASTER -->
  <div ng-show="statusCode == null || statusCode == undefined || statusCode == ''">
    <h4 class="light">Quick selection:</h4>
    <div>
      <img src="img/location_white.png" style="height:20px;"></img><strong style="margin:10px; padding:10px;" class="light">Departing London Heathrow 10:30 a.m</strong>
    </div>

    <ion-list>

    <ion-item href="#/cityhook/route/premium" style="margin-top:10px;">
    <div class="row">
      <div class="col-15 overflow:hidden;">
        <img src="img/shuttle_premium.jpg" style="height:70px; width:70px; overflow:hidden;"></img>
      </div>
      <div class="col-66" style="padding-left:10px;">
        <h5>Premium Shuttle <small>by Concierge Companion</small></h5>
        <h5 style="margin-top:10px;">80€ Per Person - 45 min.<br>Mobile Ticketing</h5>
      </div>
    </div>
  </ion-item>

  <ion-item href="#/cityhook/route/standard" style="margin-top:10px;">
  <div class="row">
    <div class="col-15 overflow:hidden;">
      <img src="img/shuttle_standard.jpg" style="height:70px; width:70px; overflow:hidden;"></img>
    </div>
    <div class="col-66" style="padding-left:10px;">
      <h5>Standard Shuttle <small>by Silver Shuttle</small></h5>
      <h5 style="margin-top:10px;">45€ Per Person - 55 min.<br>Mobile Ticketing</h5>
    </div>
  </div>
</ion-item>

<ion-item href="#/cityhook/route/express" style="margin-top:10px;">
<div class="row">
  <div class="col-15 overflow:hidden;">
    <img src="img/heathrow_express.jpg" style="height:70px; width:70px; overflow:hidden;"></img>
  </div>
  <div class="col-66" style="padding-left:10px;">
    <h5>Heathrow Express <small>by London Trains</small></h5>
    <h5 style="margin-top:10px;">75€ Per Person - 25 min.<br>Mobile Ticketing</h5>
  </div>
</div>
</ion-item>

</ion-list>


<div style="margin-top: 20px;" >
 <button class="red-txt" style="width:100%; height:60px; font-size:20px;" ng-click="customState()" >Custom Journey</button>

</div>

<div style="margin: 20px 10px 5px 10px;">
  <div style="width:80%;" class="aligned-center light">
   <a style="width:100% margin-left:-50px;">Book on board your flight and skip the queue on arrival.<br>Guaranteed service</a>
 </div>
</div>

</div>
<!-- MASTER -->



<div ng-show="statusCode != null && statusCode != undefined && statusCode != ''">

  <h4 class="light">Ticker Confirmation:</h4>


  <div class="list card">
    <div class="row">
      <div class="col-15 overflow:hidden;">
        <img src="img/heathrow_express.jpg" style="height:70px; width:70px; overflow:hidden;"></img>
      </div>
      <div class="col-66" style="padding-left:10px;">
        <h4>Heathrow Express</h4>
        <a>by London Trains</a>
      </div>
    </div>
    <div>
      <h4 style="margin:8px;" class="red-txt">Order Confirmation:</h4>
      <a>45 Mins Journey Time<br>
        From: London Heathrow<br>
        To: Victoria Station<br>
        2 Passengers<br>
        Price 160€</a>
      </div>
      <div class="aligned-center">
        <img src="img/qr.png" style="width:150px; height:150px;"></img>
      </div>

    </div>
  </div>

  <div class="aligned-center" ng-show="statusCode != null && statusCode != undefined && statusCode != ''">
    <img src="img/passbook.png" style="height:50px; width:auto; border-radius:8px;"></img>
  </div>

</div>

</div>

</ion-content> 

</ion-view>