<ion-view title="Event" ng-controller="EventArtistController" class="dark">

  <!-- DETAIL CONTENT -->
  <ion-content>

      <div class="row fixedrow">
        <div class="col-25 separator hidden-overflow" >
          <img style="width:100%; height:100%;" ng-src="{{selectedEvent.image_url}}"></img>
        </div>
        <div class="col-50 separator">
          <h4 class="light">{{selectedEvent.name}}</h4>
          <h5 class="light">{{selectedEvent.name}}</h5>
          <h5 class="light">{{selectedEvent.name}}</h5>
        </div>
      </div>

	<div class="card">
	  <div class="item item-text-wrap">
	    This is a basic Card which contains an item that has wrapping text.
	  </div>
	</div>
  </ion-content>

</ion-view>