<ion-view title="Event" ng-controller="EventDetailController" class="dark">

  <!-- DETAIL CONTENT -->
  <ion-content>

      <div class="row fixedrow">
        <div class="col-25 separator hidden-overflow" >
          <img style="width:100%; height:100%;" ng-src="{{selectedEvent.image_url}}"></img>
        </div>
        <div class="col-50 separator">
          <h4 class="light">{{selectedEvent.name}}</h4>
          <h5 class="light">{{selectedEvent.venue}}</h5>
          <h5 class="light">{{selectedEvent.group}} {{selectedEvent.time}}</h5>
        </div>
      </div>

      <ion-list>
      <ion-item href="#/ticketmaster/detail/{{itemIndex}}/ticket">
          <img src="img/ticket.png" style="width:20px; height:20px; margin-right: 15px;"></img>FIND TICKETS
          <i class="icon ion-chevron-right icon-accessory" style="float:right;"></i>
      </ion-item>
      <ion-item href="#/ticketmaster/detail/{{itemIndex}}/artist">
          <img src="img/artist.png" style="width:20px; height:20px; margin-right: 15px;"></img>ABOUT THE ARTIST
          <i class="icon ion-chevron-right icon-accessory" style="float:right;"></i>
      </ion-item>
      <ion-item href="#/ticketmaster/detail/{{itemIndex}}/venue">
          <img src="img/location.png" style="width:20px; height:20px; margin-right: 15px;"></img>ABOUT THE VENUE
          <i class="icon ion-chevron-right icon-accessory" style="float:right;"></i>
      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>