<ion-view title="Events" ng-controller="EventListController" class="dark">

<ion-content>

<div id="search-box" class="bar bar-header item-input-inset">
  <div class="item-input-wrapper">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" placeholder="Search" ng-model="viewModel.search" ng-change="applySearchFilter()">
    <i class="clear-search icon ion-ios7-close-empty" ng-click="clearSearch()"></i>
  </div>
  <button class="button button-clear">
    Cancel
  </button>
</div>

<!-- FEATURED EVENTS -->
<div ng-show="viewModel.search == null || viewModel.search.length == 0">
  <div class="ticket-section">Popular</div>
  <ion-scroll direction="x" class="wide-as-needed dark">
  <div ui-sref="detail({event_index: $index})" class="featured-item" ng-repeat="event in events track by $index">
    <div class="featured-item" back-img="{{event.image_url}}"></div>
    <div class="aligned-center light">{{event.name}}</div>
  </div>
</ion-scroll>
</div>

<ion-list>
<ion-item class="dark" auto-list-divider auto-list-divider-value="{{event.group}}" ng-repeat="event in events track by $index" href="#/detail/{{$index}}">
<div class="row">
  <div class="list-item" back-img="{{event.image_url}}"></div>
  <div class="col">
    <div class="title">{{event.name}}</div>
    <div class="text">{{event.name}}</div>
    <div class="text">{{event.name}}</div>
  </div>
</div>
</ion-item>
</ion-list>
</ion-content>

</ion-view>