<ion-view title="Events" ng-controller="EventListController" class="dark">

    <!-- NAV VIEW -->
<!--     <ion-nav-bar class="bar-stable nav-title-slide-ios7" style="margin-bottom:10px;" ng-controller="NavController">
    </ion-nav-bar> -->

    <!-- FEATURED EVENTS -->
    <div class="ticket-section">Popular</div>
    <ion-scroll direction="x" class="wide-as-needed dark">
      <div ui-sref="detail({event_index: $index})" class="featured-item" ng-repeat="event in events track by $index">
        <div class="featured-item" back-img="{{event.image_url}}"></div>
        <div class="aligned-center light">{{event.name}}</div>
      </div>
    </ion-scroll>

    <ion-list >
      <ion-item class="dark" auto-list-divider auto-list-divider-value="{{event.group}}" ng-repeat="event in events track by $index" href="#/detail/{{$index}}">
          <div class="row">
            <div class="list-item" back-img="{{event.image_url}}"></div>
            <div class="col">
              <div class="title">{{event.name}}</div>
              <div class="text">{{event.name}}</div>
              <div class="text">{{event.name}}</div>
            </div>
          </div>
      </ion-item>
    </ion-list>


</ion-view>